nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    /* background-color: rgb(49, 44, 44); */
    background-color:     rgb(43 50 66);
    position: fixed;
    width: 100%;
    z-index: 1;
}
li{
    list-style: none;
}
nav>li>a{
    font-size: 1.2rem;
    font-weight: 600;
color: white;
text-decoration: none;

}
nav>a{
    font-size: 1.3rem;
    font-weight: 600;
color: white;
text-decoration: none;

}
/* nav>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem; 
}
nav div>a{
    color: white;
    text-decoration: none;
} */
aside{
    
    background-color:rgb(43 50 66) ;
    padding: 5rem 1rem 1.5rem;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    position: fixed;
    min-height: 100vh;
    /* box-shadow: 1px 1px 5px  rgb(49, 44, 44); */
    transition: .5s all;
}
aside>a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    color: white;
    font-weight: 600;
}

main{
    width: calc(100% - 250px);
    /* background-color: red; */
    padding: 5rem 1.5rem;
    /* height: 100vh; */
    float: right;
    /* position: fixed;
    right: 0; */

    transition: .5s all;
    min-height: 100vh;
}

